*.log
blade_keys.txt
ADMIN_UI_GUIDE.md
APPLICANT_UI_GUIDE.md
CAPACITY_AND_SECURITY_REPORT.md
LOAD_TESTING.md
PROJECT_SUMMARY.md
SECURITY_REPORT.md
TODO.md
/docs
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/.claude
/.vite
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
